#tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#bg-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}
#space-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.tela-selecao-fases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.retro-button {
    margin: 10px;
    padding: 15px 22px;
    font-size: 18px;
    background-color: #802c5a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.retro-text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #dd091b;
    margin-top: 230px;
    margin-bottom: 40px; 
}

.retro-button:hover {
    background-color: #45a049;
}

h1{
    font-family: 'Press Start 2P', cursive;
}
.grade{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
    margin: 100px auto; 
    justify-content: center; 
    align-items: center; 
}

.grade div{
    width: 20px;
    height: 20px;
}

.atirador {
    background-color: blue;
}

.invasor{
    background-color: rgb(111, 1, 255);
    border-radius: 10px;
}
.invasor2{
    background-color: rgb(255, 0, 76);
    border-radius: 10px;
}
.invasor3{
    background-color: rgb(56, 0, 0);
    border-radius: 10px;
}

.explosao{
    background-color: red;
}

.laser{
    background-color: orange;
}

